body {margin: 0; background-color: #101727 ; font-family: Merriweather, serif; color:#CCCFD3; }

/* new bit */

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

/* new bit */
ul.sidenav {
    list-style-type: none;
    margin: 10;
    padding: 0;
    width: 25%;
    background-color: #101727;
    position: fixed;
    height: 90%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #cccfd3;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #3eff8b;
    color: #101727;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #00bfb2;
    color: #101727;
}
.column {
 float: left;
 width: 37%;
 align-content: bottom;
 padding: 5px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.photocolumn {
 float: left;
 width: 25%;
 align-content: bottom;
 padding: 5px;
}
.row {
margin-left: 25%;
align-content: bottom;
padding: 10px 16px;
}
/* Clear floats after image containers */
.row::after {
 content: "";
 clear: both;
 display: table;
}
div.content {
    margin-left: 25%;
    padding: 10px 16px;
    height: 90%;
}
img {
  padding: .5em;
  float: left;}

div.header-2 {
    margin-left: 25%;
    padding: 10px 16px;
    align-content: bottom;
    font-family: 'Kaushan Script', Cursive;
    font-size: 68px;

    font-weight: bold;
    letter-spacing: normal;
    line-height: 68px;
    text-transform: none;
    color: #CCCFD3;
}

.video-container {
    margin-left: 25%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
/*
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/
.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

footer {
     position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10%;
    img align="right"
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;
}
    div.header-2 {
         margin-left: 0;
         padding: 10px 16px;
         font-family: 'Kaushan Script', cursive;
         font-size: 48px;
         font-style: italic;
         font-weight: bold;
         letter-spacing: normal;
         line-height: 48px;
         text-transform: none;
         color: #CCCFD3;
}
.video-container {
   margin-left: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    footer {
     position: relative;
    bottom: 0;
    right: 0;
    height: 24px;
}
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
    div.header-2 {
         margin-left: 0%;
         padding: 5px 8px;
         font-family: 'Kaushan Script', cursive;
         font-size: 18px;
         font-style: italic;
         font-weight: bold;
         letter-spacing: normal;
         line-height: 18px;
         text-transform: none;
         color: #CCCFD3;
}
    footer {
     position: relative;
    bottom: 0;
    right: 0;
    height: 24px;
}
    }
